#video{
    width: 100%;
    height: 800px;
    border: none;
}
.achievements{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.achievements i{
    float: right;
}
.achievements_div span{
    color: rgb(255, 140, 0);
}